<header>
    <ul class="nav nav-tabs">
        <li><a href="#home">Home</a></li>
        <li><a href="#registration">Register</a></li>
    </ul>
</header>

<div class="container">
    <form class="col-md-3 text-center" novalidate ng-submit="register(user)">
        <h1>Registration</h1>
        <p>Please enter the following information to register:</p>
        <label for="firstName">First Name: </label>
        <input id="firstName" autofocus ng-required="true" placeholder="Enter your first name" type="text" ng-model="user.firstName"/><br/>
        <label for="lastName">Last Name: </label>
        <input id="lastName" ng-required="true" placeholder="Enter your last name" type="text" ng-model="user.lastName"/><br/>
        <label for="username">Username: </label>
        <input id="username" ng-required="true" placeholder="Enter your username" type="text" ng-model="user.username"/><br/>
        <label for="password">Password: </label>
        <input id="password" ng-required="true" type="password" ng-model="user.password"/><br/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>