<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dungeon Crawler</title>

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css"/>
</head>
<body>

    <main ng-view></main>

    <!-- Scripts -->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.min.js"></script>
    <script type="text/javascript" src="/javascripts/login.min.js"></script>
    <script type="text/javascript" src="/javascripts/player.min.js"></script>
    <script type="text/javascript" src="/javascripts/registration.min.js"></script>
    <script type="text/javascript" src="/javascripts/combat.min.js"></script>
    <script type="text/javascript" src="/javascripts/win.min.js"></script>
    <script type="text/javascript" src="/javascripts/lose.min.js"></script>
    <!-- End Scripts -->
</body>
</html>