<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Haunted Mansion</title>

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.theme.min.css"/>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css"/>
</head>
<body>

    <h1 class="text-center">Haunted Mansion</h1>

    <main ng-view></main>

    <!-- Scripts -->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-class/angular-class.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <script type="text/javascript" src="/javascripts/player.js"></script>
    <script type="text/javascript" src="/javascripts/registration.js"></script>
    <script type="text/javascript" src="/javascripts/combat.js"></script>
    <script type="text/javascript" src="/javascripts/win.js"></script>
    <script type="text/javascript" src="/javascripts/lose.js"></script>
    <script type="text/javascript" src="/javascripts/howToPlay.js"></script>
    <!-- End Scripts -->
</body>
</html>