.store .row{
   height: 260px;
}

.store .col-md-3{
    border: 1px solid black;
    height: inherit;
}

.inventory .col-md-12 {
    height: 280px;
}

.inventory .col-sm-2 {
    border: 1px solid black;
    height: inherit;
}