<header>
    <ul class="nav nav-tabs">
        <li><a href="#home">Login</a></li>
        <li><a href="#registration">Register</a></li>
        <li><a href="#player">Player Creation</a></li>
        <li><a href="#howToPlay">How to Play</a></li>
    </ul>
</header>

<div class="container">
    <h2 class="text-center">How to Play</h2>

    <h3>Creating a Player</h3>
    <p>When creating a player, type in the name of your Player in the input field. Click the button "Click for Health!" to assign your Player's health. Once your Player has a name and health click the "Submit Player" button to save your created Player to your account.</p>

    <h3>Selecting a Player</h3>
    <p>Once you have a Player saved, your current players will appear on the right. Click the "Select Player" to use that Player in the game. If you want to delete a Player from your account, click the "Delete Player" button.</p>

    <h3>Playing the Game</h3>

    <h4>To Begin Game</h4>
    <p>Once the user have selected their player, they will be routed to the play area. Click the "Start Game" button under the player to reveal the player's starting inventory as well as display their ammo and gold to spend in the store.</p>

    <h4>Store</h4>
    <p>The store has all the items that can be purchased during the game. You may only purchase 1 item per turn. When a player purchases an item, the item will be added to the player's inventory.</p>

    <h4>Inventory</h4>
    <p>The player will start out with 10 items in the beginning of the game. Every turn the items in the player's inventory will shuffle and the top 5 items will be displayed. Out of those 5 items, the player can use those five items to either purchase new items or use weapon to increase the player's attack. Each of the 5 items can only be used once per turn.</p>

    <h4>Mansion</h4>
    <p>The mansion contains all the monsters that the player will need to defeat to win the game. The Player is allowed to explore the mansion once per turn. When the player wants to explore, they will need to select the weapons from their inventory to increase their attack. The player will not know what enemy they will be facing until they click the "Explore" button. If they player's attack is greater than the health of the monster, the monster is killed. If the player's attack is less than the health of the monster, the monster will attack the player and the player will lose health. Every turn the mansion will shuffle, so that the player does not know what monser they will be facing until they explore.</p>

    <h4>Win/lose Conditions</h4>
    <p>The player will win the game when they defeat all the monsters within the mansion. The player will lose when the player's health reaches 0 before all the monsters are defeated.</p>
</div>