<div class="container col-md-3 text-center">
    <form novalidate ng-submit="submitPlayer(player)">
        <h1>Player Creator</h1>
        <p>Please enter the following information to create your player that will run through the Dungeon!</p>
        <label for="playerName">Player Name: </label>
        <input id="playerName" autofocus ng-required="true" type="text" placeholder="Enter your player name here" ng-model="player.playerName"/><br/>
        <p ng-show="power">Players power is: {{player.playerPower}}</p>
        <p ng-show="health">Player's health is: {{player.playerHealth}}</p>
        <button class="btn btn-info" type="submit">Submit Player</button>
    </form>
    <div class="buttons">
        <button class="btn btn-info" ng-click="genAttack()">Click for Power!</button>
        <button class="btn btn-info" ng-click="genHealth()">Click for Health!</button><br/>
        <div class="btn playButton">PLAY!!!</div>
    </div>
</div>