<header>
    <ul class="nav nav-tabs">
        <li><a href="#home">Home</a></li>
        <li><a href="#registration">Register</a></li>
        <li><a href="#player">Player Creation</a></li>
    </ul>
</header>

<div class="row">
    <div class="container col-md-6 text-center">
        <div>
            <h2>Player Creator</h2>
            <p>Please enter the following information to create your player that will run through the Dungeon!</p>
            <label for="playerName">Player Name: </label>
            <input id="playerName" autofocus ng-required="true" type="text" placeholder="Enter your player name here" ng-model="player.playerName"/><br/>
            <h3>Please click the "Click for Health!" button to assign a health value to your Player!</h3>
            <p ng-show="health">Player's health is: {{player.playerHealth}}</p>
            <button class="btn btn-info" ng-click="genHealth()">Click for Health!</button><br/><br/>
            <button class="btn btn-info" ng-click="add(player)">Submit Player</button>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div ng-repeat="player in players.characters">
            <p>{{player.playerName}}</p>
            <p>{{player.playerHealth}}</p>
            <button ng-click="selectPlayer(player)" class="btn btn-success">Select Player</button>
            <button ng-click="delete(player)" class="btn btn-danger">Delete Player</button>
        </div>
    </div>
</div>